.btn-register
    display: inline-block
    color: $white
    border: 2px solid
    border-radius: 40px
    text-align: center
    padding: 10px 15px
    font-size: 16px
    text-transform: uppercase
    font-weight: 600
    margin-left: 70px
    transition: .3s
    cursor: pointer
    font-family: 'Roboto', sans-serif
.main-btn
    display: inline-block
    color: $blue
    border: 3px solid
    text-transform: uppercase
    font-size: 24px
    padding: 15px 30px
    border-radius: 40px
    font-weight: 600
    text-align: center
    min-width: 300px
    max-width: 100%
    transition: .3s
    background: transparent
    cursor: pointer
    font-family: 'Roboto', sans-serif
.cta-btns
    text-align: center
    display: block
    margin: 20px 0
    .main-btn
        margin: 5px 25px
        &:nth-child(2)
            background: $grey
            color: $white
            border-color: $grey

@media screen and ( max-width: 768px )
    .btn-register
        margin: 10px 0
    .main-btn
        font-size: 20px
        padding: 15px 15px
        line-height: 1.1
    
            

