@keyframes pulse
    0%
        transform: scale(0.95)
        box-shadow: 0 0 0 0 rgba(0, 255, 0, 0.7)
    70%
        transform: scale(1)
        box-shadow: 0 0 0 10px rgba(0, 255, 0, 0)
    100%
        transform: scale(0.95)
        box-shadow: 0 0 0 0 rgba(0, 255, 0, 0)
    
#doctors
    .section-cover
        margin-bottom: 30px
        .cover-content
            h1, p, a
                color: $white
            a
                &:hover
                    color: $blue
    .doctor-carousel
        margin-bottom: 40px
    .doctor-block
        position: relative
        .content
            padding: 15px
            background: $blue
            position: relative
            min-height: 140px
            margin-bottom: 20px
            margin-top: -7px
            &:hover
                .plus
                    background: $blue
                    span
                        background: $white
            .plus
                content: ''
                display: inline-block
                width: 40px
                height: 40px
                position: absolute
                bottom: 15px
                right: 15px
                background: $white
                transition: .3s
                span
                    display: inline-block
                    position: absolute
                    top: 50%
                    left: 50%
                    transform: translate(-50%,-50%)
                    content: ''
                    background: $blue
                    width: 25px
                    height: 3px
                    transition: .3s
                    &:last-child
                        transform: translate(-50%,-50%) rotate(90deg)
            h3
                font-size: 25px
                font-weight: 400
                color: $white
                line-height: 1.1
                padding-bottom: 10px
                margin-bottom: 10px
                position: relative
                &::before
                    position: absolute
                    bottom: 0
                    left: 0
                    content: ''
                    border-bottom: 2px solid $white
                    display: inline-block
                    width: 40px
            p
                font-size: 20px
                font-weight: 400
                color: $white
                line-height: 1.1
                padding-right: 70px
    .ask-question
        .doctor-activity
            position: absolute
            top: 5px
            left: 5px
            p
                display: inline-block
                color: $white
                font-weight: 400
                font-size: 20px
                &::before
                    display: inline-block
                    content: ''
                    width: 20px
                    height: 20px
                    margin-left: 10px
                    border-radius: 50%
                    position: relative
                    top: 3px
                    margin-right: 5px
                    border: 4px solid $white 
        .active
            p
                &::before
                    background: $green
                    animation: pulse 2s infinite
                    box-shadow: 0 0 0 0 rgba(0, 255, 0, 1)
        .inactive
            p
                &::before
                    background: $red
        .doctor-activity
            display: none
        .is-on
            display: block

.doctor-inner
    .doctor-image
        min-height: 600px
        background-size: cover
        position: top center
        background-repeat: no-repeat
    h2
        font-size: 35px
        color: $blue
        font-weight: 600
        line-height: 1.1
    h5
        font-weight: 300
        font-size: 25px
        margin-bottom: 15px
        padding-bottom: 15px
        position: relative
        &::before
            content: ''
            display: inline-block
            position: absolute
            left: 0
            bottom: 0
            width: 70px
            height: 4px
            background: $blue
    .doctor-info
        padding: 50px
        p
            margin-bottom: 40px
    .doctor-body
        .qualification
            position: relative
            margin-bottom: 40px
            .plus
                content: ''
                display: inline-block
                width: 40px
                height: 40px
                position: absolute
                bottom: 0
                right: 0
                background: $blue
                transition: .3s
                cursor: pointer
                span
                    display: inline-block
                    position: absolute
                    top: 50%
                    left: 50%
                    transform: translate(-50%,-50%)
                    content: ''
                    background: $white
                    width: 25px
                    height: 3px
                    transition: .3s
                    &:last-child
                        transform: translate(-50%,-50%) rotate(90deg)
            .qualification-list
                padding: 15px
                border: 2px solid $blue
                overflow: hidden
                cursor: pointer
                ul
                    max-height: 80px
                    margin-bottom: 0
            .list-active
                ul
                    max-height: fit-content
        h2
            position: relative
            margin-bottom: 15px
            padding-bottom: 15px
            &::before
                content: ''
                display: inline-block
                position: absolute
                left: 0
                bottom: 0
                width: 50px
                height: 4px
                background: $blue
        ul
            margin-bottom: 40px
            li
                &::before
                    position: relative
                    margin-right: 10px
                    display: inline-block
                    content: ''
                    width: 10px
                    height: 4px
                    background: $blue
                    transform: translateY(-50%)
        .works
            margin-bottom: 40px

@media screen and ( max-width: 768px )
    .doctor-inner
        .doctor-info
            padding: 0
        h2
            font-size: 35px