.footer-section
    background: $blue
    .has-children
        i
            display: none !important
    .btn-register
        display: none !important
    .logo
        img
            width: 150px
    h3
        font-size: 20px
        color: $white
        margin-bottom: 15px
        font-weight: 600
    ul
        margin-bottom: 25px
        .nav-item, li, a
            line-height: 1.1
            color: $white
            font-size: 20px
            font-weight: 400
    .social-icons 
        a
            display: flex
            width: 50px
            height: 50px
            margin-bottom: 10px
            border: 2px solid
            border-radius: 50%
            align-items: center
            justify-content: center
.copyright
    padding: 10px
    background: $white 
    p
        text-align: center
        color: $blue
        font-weight: 400
        font-size: 14px
        line-height: 1

@media screen and ( max-width: 767px )
    .footer-section
        .columns
            display: block
            .column
                width: 100% 
    
