body
    margin: 0 !important
    font-family: 'Roboto', sans-serif
    overflow-x: hidden
    *
        &:focus
            outline: none !important
    #consult
        h2
            text-align: center
            position: relative
            margin-bottom: 15px
            padding-bottom: 15px
            line-height: 1.1
            font-size: 35px
            color: $blue
            font-weight: 600
        .success-message
            text-align: center
            color: $blue
            margin-top: 10px
            font-weight: 600
    .form-input
        display: block
        width: 100%
        margin-bottom: 20px
        border: none
        border-bottom: 2px solid $blue
        font-size: 16px
        color: $blue
        font-weight: 600
        padding: 10px 0
        font-family: 'Roboto', sans-serif
        &::placeholder
            color: $blue
            font-weight: 600
    .video-responsive
        position: relative
        padding-bottom: 56.25%
        height: 0
        margin-bottom: 10px
        iframe
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%
    .inner-page
        padding-top: 0
        .section-cover
            height: 70vh
            background-position: center
            .cover-content 
                h1
                    color: $white
                    &::before
                        content: none
    #contacts
        padding: 0 !important
    #aboutus
        text-align: center
        border-top: 4px solid $blue
        .aboutus-intro
            text-align: center
            width: 100%
            max-width: 700px
            margin: auto
            p
                font-size: 25px
                line-height: 1.2
                margin-bottom: 40px
                color: $blue
    .section
        padding-right: 0
        padding-left: 0
    .text-center
        text-align: center
    .section-cover
        background-position: top center
        background-repeat: no-repeat
        background-size: cover
        display: flex
        align-items: center
        justify-content: center
        height: 100vh
        .cover-content
            text-align: center
            width: 100%
            max-width: 700px
            margin: auto
            h1
                font-size: 60px
                font-weight: 900
                line-height: 1.1
                padding-bottom: 30px
                margin-bottom: 20px
                position: relative
                &::before
                    content: ''
                    display: inline-block
                    width: 10px
                    height: 10px
                    border-radius: 50%
                    background: $white
                    position: absolute
                    bottom: 0
                    left: 50%
                    transform: translateX(-50%)
            p
                font-size: 25px
                line-height: 1.2
                margin-bottom: 40px
    .section-title
        font-size: 60px
        line-height: 1.1
        font-weight: 900
        color: $blue
        text-align: center
        margin-bottom: 30px

@media screen and ( min-width: 800px )
    body
        .columns
            display: flex
            flex-wrap: wrap
    

@media screen and ( max-width: 768px )
    #consult
        h2
            font-size: 25px
    .container
        padding: 0 15px

@media screen and ( max-width: 700px )
    body
        .section-title
            font-size: 50px
        .columns
            .column
                width: 100%
        .inner-page
            .section-cover
                height: 35vh
                .cover-content
                    h1
                        padding-top: 10vh
                        font-size: 35px
    