.nav-active
    background: $blue
    position: relative !important
.navigation
    display: flex
    flex-wrap: wrap
    width: 100%
    justify-content: space-between
    position: absolute
    top: 0
    left: 0
    align-items: center
    padding: 10px 0
    .has-children
        i
            font-size: 25px
            line-height: .2
            cursor: pointer
            padding: 5px
            color: $white
    .top-navigation
        display: flex
        justify-content: flex-end
        width: 100%
        .city-switch
            a
                color: white
                font-weight: 400
                margin-bottom: 5px
                display: inline-block
                margin-right: 5px
        .languages
            display: flex
            margin-bottom: 10px
            .lang-item
                margin: 0 3px
                a
                    color: $white
                    text-transform: uppercase
                    font-weight: 600
                    padding: 5px
    .logo
        img
            width: 150px
    #nav
        display: flex
        align-items: center
        justify-content: center
        #menu
            display: flex
            align-items: center
            justify-content: center
            flex-wrap: wrap
            .dropdown-menu
                text-align: right
                right: 0
                left: inherit
                background: rgba(0, 0, 0, .7)
                box-shadow: 0 0 15px 0 rgba(0, 0, 0, .7)
                z-index: 999
                width: 210px
                padding: 0
                margin: 0
                li
                    padding: 7px
                    transition: .3s
            .nav-item
                margin: 0 5px
                position: relative
                a
                    color: $white
                    font-weight: 600
                    text-transform: uppercase
                    padding: 5px


@media screen and ( min-width: 769px )
    .hamburger
        display: none !important
    .navigation
        #menu
            .has-children
                &:hover
                    .dropdown-menu
                        display: block !important

@media screen and ( max-width: 768px )
    .dropdown-menu-active
        display: block !important
    .navigation
        #nav
            background: $blue
            width: 100vw
            height: 100vh
            align-items: center
            justify-content: center
            z-index: 1
            position: fixed
            top: 0
            left: -150%
            transition: .3s
            #menu
                text-align: center
                .nav-item
                    margin: 10px 0
                    display: block
                    width: 100%
                .dropdown-menu
                    text-align: left
                    right: 50%
                    transform: translate(50%, 5px)
        .menu-is-open
            left: 0% !important
    .logo
        left: 5px
        position: relative
    .hamburger
        position: absolute
        top: 60px
        right: 25px
        z-index: 99
        span
            display: inline-block
            width: 40px
            height: 3px
            border-radius: 10px
            content: ''
            background: $white
            position: absolute
            left: 50%
            transform: translateX(-50%)
            transition: .3s
            &:first-child
                transform: translateX(-50%) translateY(-10px)
            &:last-child
                transform: translateX(-50%) translateY(10px)
    .x-hamburger
        position: fixed
        span
            &:first-child 
                transform: translateX(-50%) translateY(0) rotate(45deg)
            &:nth-child(2)
                transform: translateX(200px)
            &:last-child 
                transform: translateX(-50%) translateY(0px) rotate(-45deg)
    