#page
    .page-body
        padding-top: 50px
        a
            color: $blue
        .service-table
            th
                text-align: left !important
                background: $blue !important
                color: $white !important
    .section-cover
        height: 30vh
        padding-top: 10vh