#why-us
    .perk-item
        display: flex
        font-size: 25px
        min-height: 130px
        .perk-number
            display: flex
            align-items: center
            justify-content: center
            width: 20%
            padding: 30px 10px
            color: $white
            background: $blue
            font-weight: 900
            text-align: center
        .perk-title
            display: flex
            align-items: center
            justify-content: flex-start
            width: 80%
            padding: 15px
            color: $blue
            background: $light
            font-weight: 900
            line-height: 1
            font-size: 22px
    .main-btn
        margin-top: 50px
    .section-cover
        margin-bottom: 30px
