#prices
    .accordion
        background: $white
        color: $blue
        cursor: pointer
        padding: 10px 0
        width: 100%
        text-align: left
        border: none
        border-bottom: 3px solid $blue
        outline: none
        transition: 0.3s
        font-size: 25px
        font-weight: 600
        position: relative
        padding-right: 40px
        .plus
            content: ''
            display: inline-block
            width: 40px
            height: 40px
            position: absolute
            top: 50%
            right: 0
            transform: translateY(-50%)
            transition: .3s
            cursor: pointer
            span
                display: inline-block
                position: absolute
                top: 50%
                left: 50%
                transform: translate(-50%,-50%)
                content: ''
                background: $blue
                width: 25px
                height: 3px
                transition: .3s
                &:last-child
                    transform: translate(-50%,-50%) rotate(90deg)
    .active
        .plus
            span
                &:last-child
                    transform: translate(-50%,-50%) rotate(0) !important
    .panel
        padding: 0
        background-color: $white
        border-radius: 0
        max-height: 0
        overflow: hidden
        transition: max-height 0.3s ease-out
        border-bottom: 3px solid $white
        box-shadow: none !important
        .mokilizingas
            margin: 10px 0
            p
                font-weight: 600
                a
                    color: $blue
                    text-decoration: underline
                img
                    width: 20px
                    position: relative
                    bottom: -3px
        .price-body
            overflow-x: auto
            .price-table
                width: 100%
                tr
                    border-bottom: 1px solid $grey
                td
                    padding: 7px 0
                    font-size: 18px
                    font-weight: 600
                    color: $blue
                    min-width: 150px
                    &:first-child
                        width: 80%
                    &:last-child
                        width: 20%
                        text-align: right
                        padding-left: 10px
                    .small
                        font-size: 14px
                        font-weight: 400
    .panel-active
        border-bottom: 3px solid $blue