#register 
    background: rgba(21, 27, 55,.9)
    transition: 0.5s
    display: flex
    height: 100vh
    width: 100%
    position: fixed
    left: 200%
    top: 0
    align-items: center
    justify-content: center
    z-index: 999
    .register-block 
        padding: 30px
        background: $blue
        text-align: center
        width: 100%
        max-width: 900px
        .success-message
            h3
                font-size: 25px !important
                line-height: 1.1 !important
        .close-reg-form 
            font-size: 60px
            margin-bottom: 30px
            color: #151B37
            background: $light
            display: flex
            width: 50px
            height: 50px
            justify-content: center
            align-items: center
            margin: 0 auto 20px
            transition: .3s
            &:hover
                background: $blue
                color: $light
        h3 
            font-size: 30px
            color: $light
            text-transform: uppercase
            margin-bottom: 20px
            font-weight: 800
        .form-input 
            background: $blue
            display: block
            width: 100%
            border: none
            border-bottom: 2px solid $light
            padding: 10px 0
            color: $light
            font-size: 18px
            font-weight: 600
            &:-webkit-autofill
                background: $blue !important
                color: $light !important
            &::placeholder 
                color: $light
            &:focus 
                outline: none
        select 
            option 
                padding: 10px 5px
                background: $blue
        .main-btn
            margin-top: 30px
            background: $blue
            color: $white
            cursor: pointer
            &:hover
                background: $white
                color: $blue
.register-active
    left: 0 !important

#contacts
    #register
        background: $blue
        position: relative
        left: 0
        z-index: 9
        height: auto
        padding: 50px 0
        .register-intro
            font-size: 20px
            color: white
            font-weight: 300
            text-align: center
        .register-block
            max-width: 100%

@media screen and ( max-width: 768px )
    #register
        background: $blue

@media screen and ( max-width: 700px )
    #register 
        height: 100%
        min-height: 100vh
        .register-block 
            padding: 20px
            .form-input
                padding: 5px 0
            .success-message
                h3
                    font-size: 18px !important
            .close-reg-form 
                font-size: 40px
                width: 40px
                height: 40px
                margin: 0 auto 15px
            h3 
                font-size: 25px
                margin-bottom: 15px
            .main-btn
                margin-top: 20px
        
        