#services
    .section-cover
        margin-bottom: -15vh
        .cover-content
            h1, p, a
                color: $white
            a
                &:hover
                    color: $blue
    .service-block
        padding: 15px
        background: $blue
        position: relative
        min-height: 150px
        margin-bottom: 20px
        &:hover
            .plus
                background: $blue
                span
                    background: $white
        .plus
            content: ''
            display: inline-block
            width: 40px
            height: 40px
            position: absolute
            bottom: 15px
            left: 15px
            background: $white
            transition: .3s
            span
                display: inline-block
                position: absolute
                top: 50%
                left: 50%
                transform: translate(-50%,-50%)
                content: ''
                background: $blue
                width: 25px
                height: 3px
                transition: .3s
                &:last-child
                    transform: translate(-50%,-50%) rotate(90deg)
        h3
            font-size: 23px
            font-weight: 400
            color: $white
            padding-right: 100px
            line-height: 1
        img
            position: absolute
            bottom: 15px
            right: 15px
            width: 70px

.service-inner
    .section-cover
        height: 30vh !important
        .cover-content
            h1
                padding-bottom: 0
                margin-bottom: 0
                line-height: 1.1
    h2
        position: relative
        margin-bottom: 15px
        padding-bottom: 15px
        line-height: 1.1
        font-size: 35px
        color: $blue
        font-weight: 600
        &::before
            content: ''
            display: inline-block
            position: absolute
            left: 0
            bottom: 0
            width: 50px
            height: 4px
            background: $blue
    .service-body
        .body
            .dash
                position: relative
                margin-top: 10px
                padding-top: 15px
                display: inline-block
                &::before
                    content: ""
                    display: inline-block
                    position: absolute
                    left: 0
                    top: 0
                    width: 50px
                    height: 4px
                    background: $blue
            .alignright
                float: right
                margin: 0 0 10px 10px
            .alignleft
                float: left
                margin: 0 10px 10px 0
            ul
                margin-left: 10px
                li
                    position: relative
                    &::before
                        content: ''
                        width: 10px
                        height: 10px
                        background: $blue
                        border-radius: 50%
                        display: inline-block
                        margin-right: 10px
            h2
                margin-top: 30px
                &:first-child
                    margin-top: 0 !important
            h4
                font-size: 20px
                color: $blue
                text-decoration: underline
                font-style: italic
                margin-top: 20px
                cursor: pointer
            p, ul
                margin-bottom: 10px
            .simptomai
                display: flex
                flex-wrap: wrap
                .simptomas-block
                    display: flex
                    align-items: center
                    width: 25%
                    margin-bottom: 10px
                    padding-right: 5px
                    strong
                        display: flex
                        line-height: 1
                        align-items: center
                        justify-content: center
                        width: 40px
                        height: 40px
                        min-width: 40px
                        background: $blue
                        color: $white
                        margin-right: 10px
        .price-box
            text-align: center
            h3
                position: relative
                margin-bottom: 15px
                padding-bottom: 15px
                line-height: 1.1
                font-size: 20px
                color: $blue
                font-weight: 600
                &::before
                    content: ''
                    display: inline-block
                    position: absolute
                    left: 50%
                    transform: translateX(-50%)
                    bottom: 0
                    width: 50px
                    height: 2px
                    background: $blue
            .implant-logo
                width: 250px
                max-width: 100%
            .price-full
                background: $blue
                color: $white
                padding: 10px
                text-align: center
                font-weight: 600
                margin: 15px 0
            .price-month
                a
                    font-weight: 600
                    color: $blue
        .service-table
            margin-bottom: 10px
            width: 100%
            th
                text-align: center
                padding: 10px
                border: 2px solid $blue
            td
                padding: 10px
                border: 2px solid $blue
                min-width: 170px
        .eiga-table
            margin-bottom: 10px
            th
                padding: 15px
                position: relative
                font-size: 20px
                &:nth-child(odd)
                    background: $blue
                    color: $white
                    &::before
                        background: $white
                &:nth-child(even)
                    background: $yellow
                    color: $blue
                    &::before
                        background: $blue
                &::before
                    content: ''
                    display: inline-block
                    width: 50px
                    height: 3px
                    position: absolute
                    bottom: 0
                    left: 15px
            td
                padding: 15px
                min-width: 170px
                &:nth-child(odd)
                    background: $blue
                    color: $white
                &:nth-child(even)
                    background: $yellow
        .delsimas
            th, td
                border: none !important
        .duk
            h2
                margin-top: 30px
            .accordion
                background: $white
                color: $blue
                cursor: pointer
                padding: 10px 0
                width: 100%
                text-align: left
                border: none
                border-bottom: 3px solid $blue
                outline: none
                transition: 0.3s
                font-size: 25px
                font-weight: 600
                position: relative
                padding-right: 40px
                .plus
                    content: ''
                    display: inline-block
                    width: 40px
                    height: 40px
                    position: absolute
                    top: 50%
                    right: 0
                    transform: translateY(-50%)
                    transition: .3s
                    cursor: pointer
                    &::before, &::after
                        display: inline-block
                        position: absolute
                        top: 50%
                        left: 50%
                        transform: translate(-50%,-50%)
                        content: ''
                        background: $blue
                        width: 25px
                        height: 3px
                        transition: .3s
                    &::after
                        transform: translate(-50%,-50%) rotate(90deg)
            .active
                .plus
                    &::after
                        transform: translate(-50%,-50%) rotate(0) !important
            .panel
                background-color: $white
                border-radius: 0
                max-height: 0
                overflow: hidden
                transition: all 0.3s
                border-bottom: 3px solid $white
                box-shadow: none !important
                margin: 0 !important
                .answer
                    padding: 10px 0
            .panel-active
                border-bottom: 3px solid $blue
        .back-btn
            margin: 10px 0
            a
                color: $blue
                font-weight: 400
                font-size: 20px
                display: flex
                transition: .3s
                width: fit-content
                i
                    display: flex
                    width: 30px
                    height: 30px
                    align-items: center
                    justify-content: center
                    background: $blue
                    color: $white
                    margin-right: 10px
                    transition: .3s
                &:hover
                    i
                        background: $white
                        color: $blue
.highlighted-services
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    width: 100%
    position: absolute
    bottom: 15px
    padding: 0 15px
    left: 0
    .service-item
        display: inline-block
        position: relative
        background: rgba(255, 255, 255, 0.5)
        padding: 15px 15px 35px
        width: 24%
        min-height: 110px
        transition: .3s
        &:hover
            background: rgba(255, 255, 255, 1)
        h3
            color: $blue
            font-size: 25px
            font-weight: 600
            line-height: 1.1
            width: 70%
        .read-more
            position: absolute
            bottom: 15px
            right: 15px
            color: $blue
            font-weight: 400
            transition: .3
            i
                margin-left: 5px
                position: relative
                transition: .3s
            &:hover
                i
                    transform: translateX(5px)

@media screen and ( max-width: 768px )
    .service-inner 
        h2
            font-size: 25px
        .service-body
            .body
                .simptomai
                    .simptomas-block
                        width: 50%
    .highlighted-services
        .service-item
            width: 48%
            margin-bottom: 15px
            h3
                font-size: 22px
                width: 100%
    
@media screen and ( max-width: 700px )
    #services 
        .section-cover
            margin-bottom: -10vh
    .service-inner
        .service-body
            .body
                .alignright
                    float: none
                    margin: 10px 0
                .alignleft
                    float: none
                    margin: 10px 0
                .simptomai
                    .simptomas-block
                        width: 100%
    .highlighted-services
        .service-item
            h3
                font-size: 16px