#sliders
    .slider-item
        height: 100vh
        display: flex
        align-items: center
        justify-content: center
        text-align: center
        background-position: center
        background-size: cover
        background-repeat: no-repeat
        .slider-content
            h1
                font-size: 35px
                font-weight: 400
                line-height: 1.1
                color: $white
                text-align: center
                width: 100%
                max-width: 600px


@media screen and ( max-width: 768px )
    #sliders
        .slider-item
            .slider-content
                h1
                    font-size: 30px
        